[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Infinity06
[access "refs/for/refs/*"]
	read = group user/Infinity06
	push = group user/Infinity06
	label-Code-Review = -2..+2 group user/Infinity06
	label-Verified = -1..+1 group user/Infinity06
	rebase = group user/Infinity06
	removeReviewer = group user/Infinity06
	submit = group user/Infinity06
[access "refs/heads/*"]
	read = group user/Infinity06
	create = group user/Infinity06
	push = +force group user/Infinity06
	pushMerge = group user/Infinity06
[access "refs/tags/*"]
	push = group user/Infinity06
	push = +force group user/Infinity06
